<h3>商品新規登録</h3>
<%= form_with model: @item, url: admin_items_path, local: true do |f|%>
<div>
  <%= f.label :"商品画像" %>
  <%= f.file_field :iamge %>
</div>
<div>
  <%= f.label :"商品名" %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :"商品説明" %>
  <%= f.text_area :introduction %>
</div>
<div>
  <%= f.label :"税抜価格" %>
  <%= f.number_field :price %>
</div>

<%= f.submit "新規登録", class:"btn btn-lg btn-block btn-info mt-4" %>
<% end %>