<div class="container">
  <% if @item.errors.any? %>
    <h3>
      <%= @item.errors.count %> 件のエラーが見つかりました
    </h3>
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row my-5">
    <div class="col-4 mx-5">
      <h3 class="bg-light px-4 text-center">商品新規登録</h3>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= form_with model: @item, url: admin_items_path, local: true do |f|%>
        <table class="table table-borderless">
          <tr>
            <td><%= f.label :"商品画像" %></td>
            <td><%= f.file_field :image %></td>
          </tr>
          <tr>
            <td><%= f.label :"商品名" %></td>
            <td><%= f.text_field :name, size: "30x50", placeholder: "商品名" %></td>
          </tr>
          <tr>
            <td><%= f.label :"商品説明" %></td>
            <td><%= f.text_area :introduction, size: "30x5", placeholder: "ここに説明文を記述します" %></td>
          </tr>
          <tr>
            <td><%= f.label :"税抜価格" %></td>
            <td><%= f.text_field :price, size: "30x50", placeholder: "1000" %>円</td>
          </tr>
        </table>
    </div>
  </div>
  <div class="row">
        <%= f.submit "新規登録", class: "btn btn-success mx-auto" %>
      <% end %>
  </div>
</div>
