<div class="container">
   <div class="row">
      <div class=" mx-auto mt-5 mb-3">
         <div class="mb-3 top_image">
            <div class="bg-white top_text py-3">
               <p>
                  ようこそ、ながのCAKEへ！<br>
                  このサイトは、ケーキ販売のECサイトになります。</br>
                  会員でない方も商品の閲覧はできますが、<br>
                  購入には会員登録が必要になります。
               </p>
            </div>
            <%= image_tag 'nagano', size: "600x350" %>
         </div>
         <h2>新着商品</h2>
         <table>
            <tr>
               <% @items.each do |item| %>
               <td>
                  <%= link_to public_item_path(item.id) do %>
                     <%= image_tag item.image, size: '200x150' %><br>
                     <%= item.name %><br>
                     ¥<%= item.price.to_s(:delimited) %>
                  <% end %>
               </td>
               <% end %>
            </tr>
         </table>
         <div class="text-align:right">
            <%= link_to '全ての商品を見る>', public_items_path, class: "float-right" %>
         </div>
      </div>
   </div>
</div>