<h3>注文情報入力</h3>
<%= form_with model: @order, url: public_orders_confirm_path, local: true do |f| %>

<%= f.radio_button :payment_methods, Order.payment_methods.key(1) %>
<%= f.label :payment_methods_credit_card, Order.payment_methods_i18n[:credit_card] %>

<%= f.radio_button :payment_methods, Order.payment_methods.key(2) %>
<%= f.label :payment_methods_transfer, Order.payment_methods_i18n[:transfer]%>

<%= f.submit "確認画面へ進む", :class => "btn btn-primary" %>
<% end %>