<div class="container">
  <div class="row m-5">
    <h4 class="bg-light px-4">ログイン</h4>
  </div>
  <div class="row mx-5">
    <p class="bg-light px-4">会員の方はこちらからログイン</p>
  </div>
  <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>

    <table class="mx-auto">
      <tr>
        <td class="px-5"><%= f.label :"メールアドレス" %></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size:"50x50" %></td>
      </tr>
      <tr>
        <td class="px-5"><%= f.label :"パスワード" %></td>
        <td><%= f.password_field :password, autocomplete: "current-password", size:"50x50" %></td>
      </tr>
      <tr>
        <td colspan="1"></td>
        <td><%= f.submit "ログイン", class: "btn btn-primary my-4 px-5" %></td>
      </tr>
    </table>
  <% end %>

  <div class="row mx-5">
    <p class="bg-light px-4">会員登録がお済みでない方</p>
  </div>
  <div class="row mt-2">
    <div class="col-8 mx-auto">
    <%= render "public/shared/links" %>
    </div>
  </div>
</div>